@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,700&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/*navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3 ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: blue;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: blue;
    font-weight: 900;
    transition: all 0.3 ease;
}

/*sticky es una "función" de java script*/
.navbar.sticky .logo a span{
    color: yellow;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: inline-block;
    color: #fff;
    padding-bottom: 3px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    
    background-image: linear-gradient(yellow, yellow);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: .4s;
}

.navbar .menu li a:hover
/*.navbar .menu li a:focus*/{
    font-weight: 800;
    background-size: 100% 3px;
}

/*menu btn styling*/
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 45px;
    background: blue;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*home section styling*/
.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left:-3px;
}

.home .home-content .text-2 img{
    display: inline-block;
    margin-bottom: -20px;
    margin-left: 5px;
    height: 80px;
    width: 90px;
}

.home .home-content .text-3,
.home .home-content .text-3 .typing{
    font-size: 40px;
    font-weight: 600;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: blue;
    font-weight: 500;
}

.home .home-content a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

/*all similar content styling code*/
section{
    padding: 50px 0;
}

.about, .services, .skills, .projects, .teams, .contact, footer{
    font-family: 'Roboto', sans-serif;
}

.about .about-content,
.projects .projects-content,
.skills, .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

section .title::before{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 170px;
    height: 3px;
    background: blue;
    transform: translateX(-50%)
}

/*
section .title::after{
    position: absolute;
    bottom: -40px;
    left: 50%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    background: #a4b0be;
    transform: translateX(-50%);
}*/

/*about section styling*/
.about .cuadro{
    background: #a4b0be;
    padding: 50px;
    border-radius: 9px;
}

/*
.about .title::after{
    content: "¿Quién soy?";
}*/

.about .about-content .column-left{
    width: 40%;
}

/*carlos's photo*/
.about .about-content .column-left img{
    height: 400px;
    width: 310px;
    object-fit: fill;
    border-radius: 9px;
}

.about .about-content .column-right{
    width: 60%;
}

.about .about-content .column-right .text{
    margin-bottom: 10px;
    display: block;
}

.about .about-content .column-right .text i,
.about .about-content .column-right p i{
    margin-right: 5px;
}

.about .about-content .column-right p{
    text-align: justify;
}

.about .about-content .column-right a{
    display: inline-block;
    background: blue;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid blue;
    transition: all 0.3s ease;
}

.about .about-content .column-right a:hover{
    color: #fff;
    background: none;
    border: 2px solid #fff;
}

/*skills section styling*/
.skills{
    background-color: #fff;
}

.skills-icons{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 40px;
    align-items: center;
    margin-top: 50px;
}

/*icons*/
.skills-icons .html5 img{
    width: 95px;
    height: 100px;
    margin-top: 0.5rem;
}

.skills-icons .css3 img{
    width: 70px;
    height: 100px;
    margin-top: 0.5rem;
}

.skills-icons .js img{
    width: 90px;
    height: 95px;
    margin-top: 0.9rem;
}

.skills-icons .php img{
    width: 145px;
    height: 80px;
    margin-top: 1.2rem;
}

.skills-icons .java img{
    width: 95px;
    height: 100px;
    margin-top: 0.5rem;
}

.skills-icons .mysql img{
    width: 110px;
    height: 70px;
    margin-top: 1.5rem;
}

.skills-icons .git img{
    width: 140px;
    height: 60px;
    margin-top: 1.9rem;
}

.skills-icons .wordpress img{
    width: 85px;
    height: 85px;
    margin-top: 1rem;
}

/*
.skills-icons b{
    margin-bottom: 10px;
}
*/

/*projects section styling*/
.projects{
    background: black;
}

section .title-2{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}

section .title-2::before{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    width: 170px;
    height: 3px;
    background: blue;
    transform: translateX(-50%)
}

.projects .projects-content .card{
    /*esta es otra forma de trabajar con celdas/cuadros en css*/
    width: calc(50% - 20px);
    height: 450px;
    background: #222;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin: 20px 0 20px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects .projects-content .card:hover{
    background: blue;
}

.projects .projects-content .card .description{
    margin-top: 25px;
}

/*-----styling images in projects section------*/

.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure{
    position: relative;
    height: 260px;
    width: 500px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    cursor: pointer;
}


.box figure img{
    transition: all 500ms ease-out;
}

.box figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(9, 164, 196, 0.8);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    grid-gap: 100px;
}

.box figure .capa a{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.box figure .capa a:hover{
    color: yellow;
    transition: all 0.3s ease
}

.box figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.box figure:hover > .capa .text{
    margin-top: 30px;
    margin-bottom: 15px;
}

.box figure:hover > img{
    transform: scale(1.1);
}

/*
estos estilos son para texto en la capa, pero en este caso solo estamos usando
enlaces para Github y Demo
.box figure .capa .text{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.box figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}
/*


/*-------------*/


.projects .projects-content .card .box{
    transition: all 0.3s ease;
}

.projects .serv-content .card:hover .box{
    transform: scale(1.05);
}

.projects .projects-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.projects .projects-content .card .box img{
    width: 500px;
    height: 250px;
    margin: 10px 0 10px 0;
    border-radius: 6px;
    
}

.projects .projects-content .card .box p{
    text-align: justify;
    font-size: 15px;
}



/*contact section styling*/
.contact .contact-content .column{
    width: calc(50% - 20px);
}

.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}

.contact .contact-content .left .icons{
    margin: 10px 0;
}

.contact .contact-content .row{
    display: flex;
    height: 55px;
    align-items: center;
}

.contact .contact-content .row .info{
    margin-left: 20px;
}

.contact .contact-content .row i{
    font-size: 40px;
    color: blue
}

.contact .contact-content .info .head{
    font-weight: 900;
}


.contact .contact-content .row .head{
    font-weight: 600;
}

/*
.contact .contact-content .row .sub-title{
    color: #333;
}
*/

.contact .contact-content .row .sub-title a{
    text-decoration: none;
    color: blue;
}

.contact .contact-content .row .sub-title a:hover{
    border-bottom: 1px solid;
    background: lightblue;
    transition: all 0.3s ease;
}

/*
estos estilos son para el formulario de la derecha, pero solo se agregará una img

.contact .right form .fields{
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea{
    height: 80px;
    width: 100%;
}

.contact .right form .name{
    margin-right: 10px;
}

.contact .right form .email{
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none
}

.contact .right form .button{
    height: 47px;
    width: 170px;
}

.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    background: blue;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .button button:hover{
    color: blue;
    background: none;
}
*/

.contact .right img{
    width: 490px;
    height: 310px;
    margin-left: 50px;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

/*footer section styling*/
footer{
    background: black;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span img{
    margin-bottom: -10px;
    margin-left: 5px;
    height: 30px;
    width: 35px;
}

/*scroll bar section styling*/
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/*responsive media query start*/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .home-content .text-2{
        font-size: 70px;
    }

    .home .home-content .text-3{
        font-size: 35px;
    }
    
    .home .home-content .text-3{
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }

    .max-width{
        max-width: 900px;
    }

    .about .about-content .column-left{
        width: 100%;
    }

    .about .about-content .column-left{
        display: flex;
        justify-content: center;
        margin: 0px 0px 40px 0px;
    }

    .about .about-content .column-right{
        width: 100%;
    }

    .projects .projects-content .card{
        width: calc(50% - 10px);
        height: 530px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    .skills-icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px;
    }

    .contact .right img{
        width: 490px;
        height: 310px;
        margin: 0 0 0 150px;
        border-radius: 6px;
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 35px;
    }

    .home .home-content .text-2{
        font-size: 60px;
    }

    .home .home-content .text-3{
        font-size: 32px;
    }

    .home .home-content a{
        font-size: 20px
    }

    .about .about-content .column-right a{
        text-align: center;
    }

    .projects .projects-content .card{
        width: 100%;
        height: 450px;
    }

    .contact .right img{
        width: 490px;
        height: 310px;
        margin: 0 0 0 60px;
        border-radius: 6px;
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }

    .home .home-content .text-3{
        font-size: 27px;
    }

    .skills-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 23px;
    }

    .projects .projects-content .card{
        height: 530px;
    }

    .contact .right img{
        width: 420px;
        height: 250px;
        margin: 0;
        border-radius: 6px;
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    }

}

@media (max-width: 420px){
    .max-width{
        padding: 0 25px;
    }

    /*aqui estamos dandole un menor tamaño al logo que en este caso es mi nombre*/
    .max-width .logo a,
    .max-width .logo span{
        font-size: 28px;
    }

    .about .cuadro{
        /*background: #a4b0be;*/
        padding: 30px;
    }

    .skills-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .projects .projects-content .card{
        height: 550px;
    }

    .contact .right img{
        width: 360px;
        height: 250px;
        margin: 0;
        border-radius: 6px;
        box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    }

    /*icons*/
    .skills-icons .html5 img{
        width: 85px;
        height: 90px;
        margin-top: 0.5rem;
    }

    .skills-icons .css3 img{
        width: 60px;
        height: 90px;
        margin-top: 0.5rem;
    }

    .skills-icons .js img{
        width: 80px;
        height: 85px;
        margin-top: 0.9rem;
    }

    .skills-icons .php img{
        width: 125px;
        height: 70px;
        margin-top: 1.2rem;
    }

    .skills-icons .java img{
        width: 95px;
        height: 100px;
        margin-top: 0.5rem;
    }

    .skills-icons .mysql img{
        width: 110px;
        height: 70px;
        margin-top: 1.5rem;
    }

    .skills-icons .git img{
        width: 110px;
        height: 50px;
        margin-top: 1.9rem;
    }

    .skills-icons .wordpress img{
        width: 70px;
        height: 70px;
        margin-top: 1rem;
    }

    
}
